.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: white;
}

.title {
  cursor: pointer;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.loginButton {
  background-color: green;
}

.loginButton:hover {
  background-color: darkgreen;
}

.logoutButton {
  background-color: red;
}

.logoutButton:hover {
  background-color: darkred;
}

.username {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
}
