.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #666;
  display: block;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 4px rgba(0, 112, 243, 0.2);
}

.button {
  background-color: #0070f3;
  text-align: center;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: darkgreen;
}

.buttonMain {
  display: block;
  width: 50%;
  margin: 0 auto;
  background-color: green;
}

.buttonSub {
  margin: 0 1rem;
  background-color: #3f563e;
}

.buttonSub:hover {
  background-color: #293929;
}

.footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.lineBreak {
  margin: 1rem 0;
  border-bottom: 0.1rem solid #ddd;
}

.inputError {
  border-color: red;
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
